<!-- Table starts here -->
<div class="border-bottom table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-striped table-bordered table-hover table-responsive-md" id="inboxTable" matSort (matSortChange)="sortData($event)">
    <thead class="thead-dark">
    <tr>
      <th mat-sort-header="date">Date</th>
      <th mat-sort-header="duration">Duration</th>
      <th mat-sort-header="username">Username</th>
      <th mat-sort-header="ip">User ip</th>
      <th mat-sort-header="browser">Browser</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let session of sessionList.reverse()">
      <td>{{session.date | date:'medium'}}</td>
      <td>{{session.duration * 1000 | zeroValueFilter | date:'H:mm:ss':'UTC' }}</td>
      <td>{{session.username}}</td>
      <td>{{session.ip}}</td>
      <td>{{session.browser}}</td>
      <td>{{session.action}}</td>
    </tr>
    </tbody>
  </table>
</div>
